@model Administrador_Proyectos.Models.Proyecto

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Proyecto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ResponsableID" class="control-label"></label>
                <select asp-for="ResponsableID" class="form-control" asp-items="ViewBag.ResponsableID"></select>
                <span asp-validation-for="ResponsableID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompañiaID" class="control-label"></label>
                <select asp-for="CompañiaID" class="form-control" asp-items="ViewBag.CompañiaID"></select>
                <span asp-validation-for="CompañiaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PorcentajeCumplimiento" class="control-label"></label>
                <input asp-for="PorcentajeCumplimiento" class="form-control" />
                <span asp-validation-for="PorcentajeCumplimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
